<ion-view view-title="Beers">
    <ion-content ng-show="beers.length > 0">
        <ion-list>
            <ion-item ng-repeat="beer in beers"
                      class="item-thumbnail-left"
                      ng-href="#/app/beer/{{beer.id}}">
                <img ng-src="{{beer.labels.icon == undefined ? 'img/pint.png':beer.labels.icon}}" alt="Beer">

                <h2>{{beer.name}}</h2>

                <p>{{beer.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-content ng-show="beers.length == 0">
        <ion-list>
            <ion-item>
                <p>teste</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

