<script id="search.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1>Search</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <label class="item item-input">
                    Name
                    <input type="text" placeholder="Beer Name">
                </label>
                <button class="button-positive">
                    Search
                </button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>